* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer div {
  font-weight: bold;
}
